<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Helix FHIR Server</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/icons/bootstrap-icons.css">
</head>
<body class="container">

<header>
</header>

<main>
  <div class="jumbotron">
    <h2><img src="/images/helix.png" height="32px" alt="Helix" />&nbsp;Helix FHIR Server</h2><div>Documentation:&nbsp;<a href="https://github.com/icanbwell/fhir-server/blob/master/cheatsheet.md">https://github.com/icanbwell/fhir-server/blob/master/cheatsheet.md</a></div>
    <div>&nbsp;</div>
    <div>To access data:&nbsp;<a href="/4_0_0/Patient">/4_0_0/Patient</a>&nbsp;(Requires Authentication) </div>
  </div>
</main>

<footer>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <p class="">&copy; Copyright 2021 b.well Connected Health</p>
        </div>
    </nav>
</footer>

</body>
</html>
