<% if (resources.length > 1) { %>
<nav className="navbar navbar-expand-lg navbar-light bg-light">
    <a className="navbar-brand" href="/">Resources In Current Page (<%= resources.length %> out of <%= total %> total)</a>
    <% resources.forEach(function(res){ %>
        <a className="nav-link" href="#<%= res.id %>"><%= res.id %></a>&nbsp;
    <%})%>
</nav>
<%}%>
