<% if (!Array.isArray(participants)) {
    participants = [participants];
} %>
<% if (participants && participants.length > 0 && participants[0]) { %>
    <div>
        <h4><%= name; %></h4>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Role</th>
                <th scope="col">Actor</th>
            </tr>
            </thead>
            <tbody>
            <% participants.forEach(function(participant){ %>
                <% if (participant) { %>
                    <tr>
                        <td>
                            <%= participant.id %>>
                        </td>
                        <td>
                            <%- include('../partials/codeableConcept', {resourceType: '', codeableConcepts: participant.role, name: '', searchParameter: ''}); %>
                        </td>
                        <td>
                            <%- include('../partials/reference', {references: participant.actor, name: ''}); %>
                        </td>
                    </tr>
                <% } %>
            <% }); %>
            </tbody>
        </table>
    </div>
<% } %>
