<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container-fluid p-0">
<h1>Admin Tools</h1>

<ul>
    <li><a href="/admin/searchLog">Search Log</a></li>
    <li><a href="/admin/indexes">Show Indexes</a></li>
    <li><a href="/admin/indexes?problem=1">Show Index Problems</a></li>
</ul>
<main>
</main>

</body>
</html>
