<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./adminHead'); %>
    </head>
    <body class="container-fluid p-0">
        <main>
            <h1>Admin Tools</h1>

            <ul>
                <li><a href="/admin/searchLog?_keepOldUI=1">Search Log</a></li>
                <hr>
                <li><a href="/admin/personPatientLink?_keepOldUI=1">Person Linkage</a></li>
                <hr>
                <li><a href="/admin/patientData?_keepOldUI=1">Show/Delete Patient Data</a></li>
                <hr>
                <li><a href="/admin/personMatch?_keepOldUI=1">Run Person Matching test</a></li>
                <hr>
                <li><a href="/admin/indexes?_keepOldUI=1">Show Indexes</a></li>
                <li><a href="/admin/indexProblems?_keepOldUI=1">Show Index Problems</a></li>
                <li><a href="/admin/synchronizeIndexes?_keepOldUI=1">Synchronize Indexes (Clicking this will kick off the process)</a></li>
                <hr>
                <li><a href="/admin/indexes?audit=1&_keepOldUI=1">Show Audit Indexes</a></li>
                <li><a href="/admin/indexProblems?audit=1&_keepOldUI=1">Show Audit Index Problems</a></li>
                <li><a href="/admin/synchronizeIndexes?audit=1&_keepOldUI=1">Synchronize Audit Indexes (Clicking this will kick off the process)</a></li>

            </ul>
        </main>

    </body>
</html>

