<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./adminHead'); %>
</head>
<body class="container-fluid p-0">
<main>
    <h3>Show Patient Data Graph</h3>
    <h6>Shows the graph of patient data (same as $everything endpoint)</h6>
    <form
            class="search-form ps-3"
            action="/admin/showPatientDataGraph"
            id="searchForm"
            method="get"
    >
        <div class="form-group row">
            <label for="patientId" class="col-sm-6 col-form-label">Patient Id</label>
            <input
                    id="patientId"
                    type="text"
                    name=patientId
                    class="form-control form-control-sm clear-allowed"
                    autocomplete="nope"
            />
        </div>
        <button type="submit" class="btn btn-primary mb-2">Show Patient Data</button>
    </form>
    <hr>
    <h3>Delete Patient Data Graph</h3>
    <h6>Deletes the graph of patient data (CONFIRM YOU ARE DOING THIS FOR THE CORRECT PATIENT)</h6>
    <form
            class="search-form ps-3"
            action="/admin/deletePatientDataGraph"
            id="searchForm"
            method="get"
    >
        <div class="form-group row">
            <label for="patientId" class="col-sm-6 col-form-label">Patient Id</label>
            <input
                    id="patientId"
                    type="text"
                    name=patientId
                    class="form-control form-control-sm clear-allowed"
                    autocomplete="nope"
            />
        </div>
        <button type="submit" class="btn btn-primary mb-2">Delete Patient Data</button>
    </form>
    <h3>Show Person Data Graph</h3>
    <h6>Shows the graph of person data (same as $everything endpoint)</h6>
    <form
            class="search-form ps-3"
            action="/admin/showPersonDataGraph"
            id="searchForm"
            method="get"
    >
        <div class="form-group row">
            <label for="personId" class="col-sm-6 col-form-label">PersonId Id</label>
            <input
                    id="personId"
                    type="text"
                    name=personId
                    class="form-control form-control-sm clear-allowed"
                    autocomplete="nope"
            />
        </div>
        <button type="submit" class="btn btn-primary mb-2">Show Person Data</button>
    </form>
    <hr>
    <hr>
    <h3>Delete Person Data Graph</h3>
    <h6>Deletes the graph of person data (CONFIRM YOU ARE DOING THIS FOR THE CORRECT PERSON)</h6>
    <form
            class="search-form ps-3"
            action="/admin/deletePersonDataGraph"
            id="searchForm"
            method="get"
    >
        <div class="form-group row">
            <label for="personId" class="col-sm-6 col-form-label">Person Id</label>
            <input
                    id="personId"
                    type="text"
                    name=personId
                    class="form-control form-control-sm clear-allowed"
                    autocomplete="nope"
            />
        </div>
        <button type="submit" class="btn btn-primary mb-2">Delete Person Data</button>
    </form>
</main>

</body>
</html>

