<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container-fluid p-0">
<main>
    <h1>Search Logs</h1>
    <form action="searchLogResults" method="get">
        id: <input type="text" name="id" style="width: 50em"><br>
        <input type="submit" value="Submit">
    </form>
</main>

</body>
</html>
