<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= id ;%></title>
    </head>
    <body class="container-fluid p-0">
        <main>
            <div> Results for id <%= id ;%></div>
            <pre>
                <code>
                <%= JSON.stringify(json, null, 4); %>
                </code>
            </pre>
        </main>
    </body>
</html>
